# flyctl launch added from .gitignore
# Node modules and local dependencies
**/node_modules/
node_modules/

# macOS system files
**/.DS_Store

# Environment files (secrets)
**/.env
**/.env*

# Git and VCS files
**/.git
.gitignore
.github
.zed
coderabbit.yaml

# Data and CSVs
/data/
**/*.csv

# Miscellaneous
fly.dev.toml
fly.prod.toml
Dockerfile
docker-compose*
README.md
LICENSE
_sample_code/
development-guidlines.md
