# Runtime
NODE_ENV=development

# Server
PORT=8080
DATA_DIR=./data/csv/
DATA_AUTO_REFRESH=TRUE
DATA_AUTO_REFRESH_INTERVAL=3600000

# Webscraping
HTML_CACHE_ENABLED=true
HTML_CACHE_DIR=./data/html
HTML_CACHE_BEAUTIFY=false
# Enabled by default (recommended)
HTML_CACHE_REMOVE_SCRIPTS=true
HTML_CACHE_REMOVE_STYLES=false    # Keep CSS
HTML_CACHE_REMOVE_COMMENTS=false  # Keep comments

# Races
SEASON=2025

GOOGLE_SHEETS_ID="#SECRET"
GOOGLE_SERVICE_ACCOUNT_KEY_FILE="#SECRET_google-service-account-key.json"

# Puppeteer
PUPPETEER_EXECUTABLE_PATH=
PUPPETEER_HEADLESS=true

# Testing
TEST_DATA_DIR=./data/temp/test/
