# Build
node_modules/
/public/css/
/public/js/*.js
/public/js/*.js.map

# OS files
.DS_Store

# Environment
.env
.env.local

# Temporary files
/_temp/

# Scraped data.
/data/


# Keys
*service-account-key.json
temp/
