:root {
  --primary-color: #2c3e50;
  --secondary-color: #3498db;
  --color-background: #f8f7f6;
  --color-text-primary: #4f4c30;
  --color-text-secondary: #a3a085;
  --color-text-accent: #817618;
}

html {
  color-scheme: light;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: var(--color-text-primary);
  background-color: var(--color-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 1rem 4rem;
  #site--title {
    font-size: 1rem;
    font-weight: bold;
  }
}

footer {
  padding: 1rem 4rem;
  font-size: 0.75rem;
  color: var(--color-text-secondary);
}

main {
  flex-grow: 1;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
}

/* h1 {
    color: var(--text-primary-color);
    margin-bottom: 20px;
} */
#race-name {
}
#race-year {
  padding: 0 0 0 8px;
  font-weight: normal;
  color: var(--color-text-secondary);
}

#stage-title {
  font-weight: normal;
}
#stage-label {
  font-weight: bold;
}
#stage-number {
  font-weight: bold;
}
#stage-type {
  color: var(--color-text-secondary);
}
#stage-name {
  color: var(--color-text-secondary);
  padding: 0 0 0 8px;
}

a {
  text-decoration: none;
  color: var(--color-text-primary);
  &:hover {
    color: var(--color-text-accent);
  }
}

.smooth-text {
  transition: opacity 321ms ease-in-out;
}

.smooth-text.updating {
  opacity: 0.2;
}

.races,
.races--grouped,
.races--list {
  display: flex;
  flex-direction: column;
}

.races {
  gap: 4rem;

  font-size: 1.5rem;
  line-height: 1.25;

  h2 {
    font-size: 1rem;
    line-height: 1.25;
    font-weight: normal;
    color: var(--color-text-secondary);
  }
}

.races--grouped {
  gap: 0.75rem;
}

.races--list {
  gap: 0.5rem;
  align-items: flex-start;
}

#race-rankings {
  display: flex;
  width: 100%;
  flex-grow: 1;
  padding-top: 16px;
  svg {
    width: 100%;
  }
}

/* ul {
    list-style-type: none;
} */

/* select,
input,
button {
  padding: 8px 12px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 14px;
}

button {
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9;
} */

/* @media (max-width: 768px) {
  .dashboard-container {
    grid-template-columns: 1fr;
  }

  .controls {
    flex-direction: column;
  }
} */

.stage-container {
  text {
    font-size: 1rem;
    line-height: 1;
    /* font-weight: bold; */
    fill: var(--color-text-secondary);
    transition: fill 321ms ease-in-out;
  }

  .stage-indicator {
    fill: var(--color-background);
    stroke-width: 2;
    transition: stroke 210ms ease-out;
    transition: fill 210ms ease-out;
    /* transition: 321ms ease-in-out; */
  }

  g:not(.raced) .stage-indicator {
    stroke-dasharray: 2, 3;
    stroke: var(--color-text-secondary);
  }

  .raced {
    cursor: pointer;

    .stage-indicator {
      stroke-dasharray: none;
      stroke: var(--color-text-primary);
    }
  }

  .raced:hover {
    text {
      fill: var(--color-text-accent);
    }
    .stage-indicator {
      stroke-width: 3;
      stroke: var(--color-text-accent);
      transition: stroke 321ms ease-in;
    }
  }

  .viewing {
    text {
      font-weight: bold;
    }
    .stage-indicator {
      fill: var(--color-text-primary);
      stroke: var(--color-background);
    }
  }

  .viewing:hover {
    .stage-indicator {
      stroke-width: 1;
      fill: var(--color-text-accent);
      transition: stroke 321ms ease-in;
    }
  }
}

.rider-container {
  text {
    font-size: 1rem;
    line-height: 1;
    fill: var(--color-text-secondary);
  }
  .abandoned {
    text-decoration-line: line-through;
  }
}

.ranking {
  path {
    fill: none;
  }

  .background {
    stroke: var(--color-background);
    stroke-width: 4;
  }
  .foreground {
    stroke-width: 2;
    stroke: var(--color-text-secondary);
  }
}
