.tabs-container {
  border-bottom: 1px solid var(--color-secondary);
  margin-top: 1.5rem;
}

.tabs-list {
  display: flex;
  gap: 0;
}

.tab {
  padding: var(--size-medium) var(--size-large);
  border: none;
  background-color: transparent;
  color: var(--color-text-secondary);
  cursor: pointer;
  border-radius: 2px 2px 0 0;
  border-bottom: 3px solid transparent;
  font-size: var(--size-text-small-medium);
  transition: border-bottom-color 321ms ease-in;
  /* font-weight: 500; */

  &:hover:not(.active) {
    /* color: var(--color-text-accent); */
    color: var(--color-background);
    background-color: var(--color-accent);
  }

  &.active {
    cursor: default;
    color: var(--color-text-primary);
    border-bottom-color: var(--color-primary);
  }
}
