<section class="races--grouped">
  <h2><%= title %></h2>
  <div class="races--list">
    <% races.forEach(race => { %>
      <a href="/<%= race.racePcsID %>">
        <%= race.raceName %>
      </a>
      <% }); %>
  </div>
</section>
