<div class="races--grouped">
<h2><%= title %></h2>
<div class="races--list">
<% races.forEach(race => { %>
      <a href="/<%= race.raceUrlId %>/<%= race.year %>/1/gc">
        <%= race.raceName %>
      </a>
  <% }); %>
</div>
</div>
