<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
  <%- include('../organisms/header') %>

  <main>
    <%- include('../organisms/raceLists') %>
  </main>

  <%- include('../organisms/footer') %>
</body>
</html>
